---
layout: default
title: About Brittany Woodard
hero-banner: 
  heading: My Origin Story
  image: 
    image_path: /uploads/brittanywoodard-1.jpg
    image_focus: 
  timeline:
    - |
      <p>My journey didn't start behind a screen. It started with a degree in Cultural Anthropology and a deep-seated restlessness. While my peers were content in the lecture hall, I felt like I was depreciating, learning about the world instead of experiencing it.</p>
    - |
      <p>In 2013, my obsession with travel and spirituality finally collided. I began learning and teaching yoga across Southeast Asia, Australia, and Europe. During those years, I discovered something about myself. While I loved the practice, I was captivated by the process. I found more joy in building the sales page for a retreat than I did teaching it. I was a "wellness visionary" who secretly had the heart of a developer.</p>
    - |
      <p>This curiosity led me to help scale a global online Ayurvedic school from the ground up. As a startup, I was the one behind the scenes, testing every CRM and budget until we found the perfect flow. I realized then that the most soulful businesses often struggle because their "plumbing" doesn't match their purpose.</p>
    - |
      <p>In 2022, I took the leap into a coding bootcamp to marry my industry intuition with technical precision.</p>
    - |
      <p>Today, I build websites and systems that look as elevated as the work my clients do. I speak the language of Yoga and Ayurveda, but I build the backend that makes it scalable.</p>
---

<!-- Hero Banner -->
<section class="min-h-screen relative">
  {% include site-header.html %}

  <div class="md:grid md:grid-cols-2 lg:gap-8">

    <!-- Left Column / Fixed Image -->
    <div class="md:sticky md:top-0 md:h-screen bg-image-style h-[70vh] md:min-h-[80vh]" style="background-image: url('{{ page.hero-banner.image.image_path }}'); background-position: {{ page.hero-banner.image.image_focus }};"></div>

    <!-- Right Column / Scroll Text -->
  <div class="overflow-y-auto mb-0 mt-20 lg:mt-36 lg:mb-20 pr-8 lg:pr-20 pl-8 lg:pl-0">
    <h1 class="heading-md text-feature mb-8">{{ page.hero-banner.heading }}</h1>
  
    {% for block in page.hero-banner.timeline %}
    <div class="grid grid-cols-12">
  
      <!-- Timeline Column -->
      <div class="col-span-1 flex flex-col items-center">
        <!-- Icon -->
        <img src="/uploads/timeline-circle.svg" class="h-8 z-10 relative">
  
        <!-- Line (hidden on last item) -->
        {% unless forloop.last %}
          <div class="border-r border-feature w-0 h-full grow"></div>
        {% endunless %}
      </div>
  
      <!-- Story Column -->
      <div class="col-span-11 mb-12 last:mb-0 pl-4 pb-12">
        {{ block | markdownify }}
      </div>
  
    </div>
    {% endfor %}
  </div>
</div>
  
</section>