---
layout: default
title: Brittany Woodard
description: 
services:
 - delay: 0
   title: The Whole Package
   description: Full systems strategy, setup, and automation—done-for-you, or delivered with hands-on team training. Built around your business, your tools, and your growth goals.
   cta: 
     url: /website-systems-setup.html
     text: Learn More
 - delay: 300
   title: Systems Partner
   description: You don’t need a full rebuild. You need a tech-savvy partner who can maintain, optimize, and evolve your systems as your business grows.
   cta: 
     url: /website-systems-retainer.html
     text: Let’s work together
 - delay: 600
   title: Website Strategy + Build
   description: A clean, custom site that’s designed to grow with your business. Built with strategy to reflect your brand, connect to your systems, and give your clients a smooth experience.
   cta: 
     url: 
     text: Explore the portfolio
cta: 
  heading_html: Are you ready for a website that <em>does the work for you?</em>
  description: Let’s build systems that scale, so you can get back to doing what you love.
  button: 
    url: #
    text: Get Started
seo:
  title: 
  description: 
  social_image: 
  keywords:
    - 
  hide-from-google: true
---

<!-- Hero Banner -->
<section class="md:grid md:grid-cols-2 relative" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">

  <!-- Left Column -->
  <div class="bg-image-style" style="background-image: url('/uploads/brittanywoodard-1.jpg'); background-position: bottom left;"></div>

  <!-- Right Column -->
  <div class="p-8 lg:p-20 h-[100vh] flex items-center">
    <div>
      <p class="subtitle mb-0">You’re the visionary. I help make the vision run.</p>
      <h1 class="py-8">Business <em>systems</em> and <em>automation</em> for wellness leaders who’ve outgrown manual systems.</h1>
      <p>Leads get captured, follow-up happens automatically, and growth doesn’t come with more admin.</p>
      <a href="#" class="button mt-4">Get Started</a>
    </div>
  </div>

</section>


<!-- Problem -->
<section class="bg-dark text-x-light font-normal px-8 lg:px-20 py-20">
  <div class="md:w-[80%] lg:w-[60%]" data-aos="fade" data-aos-offset="100" data-aos-duration="3000">
    <h2 class="heading mb-4">You didn’t build your business to <em>spend your time managing broken systems.</em></h2>
    <p>But when onboarding is clunky, emails go out late, and clients show up confused, you end up manually fixing things your website should already be handling.</p>
  </div>
</section>


<!-- Services -->
<section class="bg-main text-x-light font-normal py-20 px-8 md:px-20 text-center">

  <div data-aos="fade" data-aos-offset="100" data-aos-duration="3000">
    <h2 class="heading lg:mb-12">Here’s how I can turn your <em>vision</em> into a <em>scalable client experience</em>.</h2>
  </div>

  <div class="lg:grid lg:grid-cols-3 divide-y lg:divide-y-0 lg:divide-x divide-x-light">

    {% for item in page.services %}
    <div class="py-20 lg:py-8 md:px-16" data-aos="fade" data-aos-offset="100" data-aos-delay="{{ item.delay }}" data-aos-duration="3000">
      <h3 class="subtitle mb-4">{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <a href="{{ item.cta.url }}" class="button-light">{{ item.cta.text }}</a>
    </div>
    {% endfor %}
  </div>
</section>


<!-- Benefits -->
<section>
  <div class="grid md:grid-cols-2 my-20" data-aos="fade" data-aos-offset="100" data-aos-duration="3000">

    <!-- Left Column -->
    <div class="bg-image-style min-h-[60vh]" style="background-image: url('/uploads/brittanywoodard-2.jpg'); background-position: 50% 65%;"></div>

    <!-- Right Column -->
    <div class="mt-20 md:mt-0 mx-8 lg:mx-20 border-y border-x-dark py-8 flex items-center">
      <div class="mb-4 md:mb-0" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">
        <h2 class="heading mb-4">A business that <em>runs without constant oversight</em></h2>
      <ul class="list-none">
        <li>Your business runs smoothly, even when you take a day off. No more babysitting.</li>
        <li>Every dollar you spend on marketing works harder because your funnels follow up and your offers convert.</li>
        <li>You can promote, launch, and grow without staying glued to your computer.</li>
        <li>Onboarding is simple. Clients know what’s next, and access is instant.</li>
        <li>Your calendar is filled with the work you love, not back-to-back admin marathons.</li>
        <li>Your team checks in once a week, not every hour, because your systems handle the rest.</li>
        <li>Your business reflects your level of experience, not the state of your systems.</li>
      </ul>
      <a href="#" class="button mt-8">Get Started</a>
      </div>
    </div>
  </div>


<!-- Testimonials -->
 <div class="bg-dark text-x-light py-20 px-8 md:px-20">
  <div class="md:w-[60%] mx-auto" data-aos="fade" data-aos-offset="100" data-aos-duration="3000">
    <div class="text-center heading italic">
      <p>Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing Brittany is amazing</p>
    </div>
    <p class="subtitle text-right mt-4">-- Name</p>
  </div>
 </div>
</section>


<!-- About -->
<section class="grid md:grid-cols-3 my-20">

  <!-- Left Column -->
  <div class="heading px-8 lg:px-20 mb-8 md:mb-0" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">
    <h2><em>I build systems</em> for wellness leaders that <em>need more than a beautiful website</em>.</h2>
  </div>

  <!-- Middle Column -->
  <div class="px-8 lg:px-20 border-x border-x-dark" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">
    <div class="bg-image-style min-h-[80vh]" style="background-image: url('/uploads/brittanywoodard-10.jpg');"></div>
  </div>

  <!-- Right Column -->
  <div class="px-8 lg:px-20 text-right flex items-end mt-8 md:mt-0" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">
    <div>
      <div>
        <p>I'm Brittany and I work with wellness brands who’ve outgrown messy setups and sites that either look good but don’t do much, or get the job done but feel off-brand.</p>
        <p>I build and manage premium websites that are fully integrated with your CRM, enrollment, onboarding, and client experience. So your site supports how your business actually runs.</p>
      </div>
      <a href="#" class="button mt-8">Meet Brittany</a>
    </div>
  </div>
</section>


<!-- CTA -->
{% include section-cta.html %}