/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --feature: #BF947A;
    --dark: #686049;
    --x-dark: #423B24;
    --main: #ABA785;
    --light: #F0EEE1;
    --x-light: #f9f8f3;
}


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    html {
        @apply scroll-smooth
    }

    body {
        @apply bg-x-light font-sans font-light text-x-dark antialiased
    }

    nav a:hover {
        @apply text-feature transition duration-500
    }

    footer nav a {
        @apply font-serif text-dark
    }

    h1 {
        @apply font-serif text-[2rem] leading-9;
    }

    p {
        @apply mb-4 last:mb-0
    }

    ul {
        @apply list-none
    }

    li {
        @apply mb-4 last:mb-0
    }

}


/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    /* Typography */
    .heading {
        @apply font-serif text-2xl
    }

    .subtitle {
        @apply uppercase
    }

    /* Padding */


    /* Buttons */
    .button {
        @apply py-2 px-8 bg-feature uppercase font-semibold text-x-light inline-block border border-feature hover:bg-x-light hover:text-feature hover:duration-500;
    }

    .button-light {
        @apply py-2 px-8 bg-light uppercase font-semibold text-feature inline-block border border-feature hover:bg-x-light hover:text-feature hover:duration-500;
    }

    .fa-brands {
        @apply text-xl
    }

    /* Images */
    .bg-image-style {
        @apply bg-cover bg-no-repeat bg-center
    }

    /* Mobile Menu */
    .mobile-button {
        position: fixed;
        top: 3.2vh;
        right: 2vh;
        z-index: 40;
        padding: 0.5rem;
    }

    .mobile-button span {
        width: 2rem;
        border: 0.5px solid var(--dark);
        background-color: var(--dark);
        display: block;
        border-radius: 22px;
        transition: 2s;
    }

    .mobile-button.active span {
        border-color: var(--dark);
        background-color: var(--dark);
    }

    .mobile-top,
    .mobile-bottom {
        position: absolute;
    }

    .mobile-top {
        top: -02px;
    }

    .mobile-bottom {
        bottom: -02px;
    }

    .mobile-button.active .mobile-top {
        border-color: var(--feature);
        position: absolute;
        top: 8px;
        transform: rotateZ(45deg);
    }

    .mobile-button.active .mobile-middle {
        /*   transform: rotateZ(270deg); */
        border-color: var(--feature);
        background-color: var(--feature);
    }

    .mobile-button.active .mobile-bottom {
        border-color: var(--feature);
        position: absolute;
        bottom: 8px;
        transform: rotateZ(-45deg);
    }

    .mobile-menu {
        display: flex;
        position: fixed;
        top: 0vh;
        left: 100vw;
        right: -100vw;
        bottom: 0vh;
        background-color: var(--main);
        padding: 5%;
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
        z-index: 20;
        transition: 1s;
        align-content: space-around;
        justify-content: space-around;
        flex-direction: column;
    }

    .mobile-menu.active {
        @apply left-0 md:left-[50%] right-0
    }

    .mobile-menu a {
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 300;
        color: var(--x-dark);
        display: block;
        padding: 0.5rem 1rem;
        text-align: center;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .mobile-menu a:hover {
        color: var(--feature);
    }

    /* Slick */
    ul.slick-dots li button::before { color: var(--feature); opacity: .25 !important; }
    ul.slick-dots li button:hover::before { color: var(--feature); opacity: .5 !important; }
    ul.slick-dots li.slick-active button::before { color: var(--feature); opacity: .75 !important; }

}