---
layout: default
hero: 
  heading_html: Your backend and website, <em>handled by someone who knows what they’re doing</em>
  title: Your Systems Partner
  description: My monthly retainer keeps the behind-the-scenes work running smoothly. I'll maintain and improve your automations, workflows, and website on an ongoing basis, so everything works the way it should and your clients have a clean, reliable experience.
  featured_image: /uploads/brittanywoodard-4.jpg
desires: 
  heading_html: Your website, membership platform, and automations <em>are all set up and running smoothly.</em>
  description-1_html: |
    <p>When it’s time to launch something new or update your content, you need someone on standby who can handle the moving parts—without breaking what’s already working.</p>
  description-2_html: |
    <p>Sure, you could do it yourself... or hand it off to a VA. But that often means more back-and-forth, more tinkering, and more time spent checking in on tasks that should be done right the first time.</p>
    <p>Wouldn’t it feel better to put your tech in the hands of an expert who knows exactly what to do?</p>
    <p>I can help you keep your digital space running efficiently, from strategy and funnel builds, to automation setup, LMS admin, and website updates.</p>
includes: 
  featured_image: /uploads/brittanywoodard-16.png
  image_focus: 50% 65%
  heading_html: How we can work together
  description_html: |
    <ul>
        <li>Automation builds that work reliably and connect all your tools</li>
        <li>Marketing and launch email builds that actually get delivered and opened</li>
        <li>Form creation + integrations that capture data and send it where it needs to go</li>
        <li>LMS management, uploading content, organising modules, and managing member access</li>
        <li>Website updates, from custom‑coded sites to Wix and everything in between</li>
        <li>Other behind-the-scenes tech tasks that keep your business moving</li>
    </ul>
    <p class="mt-8 italic">Monthly retainers start at €400/month, depending on the level of support and scope of work.</p>
    <p class="italic">During our discovery call, we’ll discuss your systems, upcoming needs, and ideal pace of support. I’ll then recommend a monthly plan that fits.</p>
    <p class="italic">To get started, complete the questionnaire below.</p>
faq:
  heading_html: Frequently Asked Questions
  questions:
   - question: What is the length of the retainer agreement?
     answer_html: There’s a 6-month commitment, but with a 3-month trial built in. At the 3-month mark, you’ll have the chance to assess how things are going. If it’s not the right fit, we can part ways. If it is working (and I think it will be), we’ll continue through the full 6 months.
   - question: What happens if I need more hours one month?
     answer_html: If your needs go beyond the agreed monthly hours, we’ll either increase your plan or add extra time, depending on availability. I’ll always let you know before going over.
   - question: Do unused hours roll over?
     answer_html: We’ll start by creating a realistic budget of hours based on your needs. While hours don’t roll over month to month, you’ll have the chance to reassess your needs after the initial 3-month trial period, and again between each 6-month contract cycle.
   - question: Do you offer one-off projects or audits?
     answer_html: Not as part of this monthly retainer. If you’re looking for a one-time project, check out <a href="/website-systems-setup.html">The Whole Package</a>. I can tailor it to your specific needs.
cta: 
  heading_html: You’ve got a business to run. I’ll take care of the backend.
  description: From website updates to automation tweaks and launch support—I'll keep things running smoothly each month, without the back-and-forth.
  button: 
    url: #
    text: Connect to get started
---

<!-- Hero Banner -->
{% include section-hero-img-right.html %}


<!-- Desires -->
<section class="bg-light py-20 px-8 lg:px-20">
    <div data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <div class="md:w-[75%] lg:w-[60%]">
            <h2 class="heading">{{ page.desires.heading_html }}</h2>
            <p>{{ page.desires.description-1_html }}</p>
        </div>
        <div class="text-right md:w-[65%] lg:w-[55%] ml-auto mt-20">
            {{ page.desires.description-2_html }}
        </div>
    </div>
</section>


<!-- Includes -->
{% include section-includes.html %}


<!-- FAQ -->
{% include section-faq.html %}


<!-- CTA -->
{% include section-cta.html %}