<section class="md:grid md:grid-cols-2 relative" data-aos="fade" data-aos-delay="100" data-aos-duration="3000">

  <!-- Left Column -->
  <div class="bg-image-style" style="background-image: url('{{ page.hero.image_path }}'); background-position: {{ page.hero.image_focus }};"></div>

  <!-- Right Column -->
  <div class="p-8 lg:p-20 h-[100vh] flex items-center">
    <div>
      <p class="subtitle mb-0">You’re the visionary. I help make the vision run.</p>
      <h1 class="py-8">{{ page.hero.title_html }}</h1>
      <p>{{ page.hero.description }}</p>
      <a href="{{ page.hero.cta.url }}" class="button mt-4">{{ page.hero.cta.text }}</a>
    </div>
  </div>

</section>