<section class="grid md:grid-cols-2 py-20 px-8 lg:px-20">
    <div class="lg:w-[60%]" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        <h2 class="heading mb-8">{{ page.system.heading_html }}</h2>
        <p>{{ page.system.description_html }}</p>
    </div>

    <div class="mt-12 md:mt-0 md:ml-[1.5rem] lg:ml-12" data-aos="fade" data-aos-offset="0" data-aos-duration="3000">
        {% for item in page.system.steps %}
        <div class="border-b border-x-dark mb-8 last:mb-0">
            <p class="subtitle mb-2">{{ item.title }}</p>
            <p class="pb-2">{{ item.description }}</p>
        </div>
    {% endfor %}

    {% include button-cta.html %}
    </div>
</section>