<footer class="bg-light text-x-dark py-8 px-8 lg:px-20 md:grid md:grid-cols-3">
    <div>
        {% for item in site.data.navigation.footer %}
        <a href="{% if page.lang == 'fr' %}{{ item.url_fr }}{% else %}{{ item.url }}{% endif %}" class="uppercase block">{% if page.lang == 'fr' %}{{ item.title_fr }}{% else %}{{ item.title }}{% endif %}</a>
        {% endfor %}
    </div>
    <div class="flex flex-col justify-center">
        <a href="{% if page.lang == 'fr' %}/fr/index{% else %}/index.html{% endif %}" class="font-posture text-[1.75rem] text-center py-12 md:py-0 lowercase">Brittany Woodard</a>
    </div>
    <div class="text-right">
        <a href="{% if page.lang == 'fr' %}/fr/contact{% else %}/contact{% endif %}" class="uppercase block">Contact</a>
        <a href="https://www.linkedin.com/in/{{ site.data.site-settings.social.linkedin_username }}" target="_blank" class="uppercase block">LinkedIn</a>
    </div>
</footer>