<header class="z-20 md:absolute md:top-0 w-full md:py-4 md:border-b md:border-dark">

    <!-- Mobile -->
    <div class="md:hidden mobile-button fixed">
        <span class="mobile-top"></span>
        <span class="mobile-middle"></span>
        <span class="mobile-bottom"></span>
    </div>

    <nav class="mobile-menu z-30">
        {% for item in site.data.navigation.header %}
        <a href="{{ item.url }}" class="px-2 mx-2 {% if forloop.last %}text-feature{% endif %}">{% if page.lang == 'fr' %}{{ item.title_fr }}{% else %}{{ item.title }}{% endif %}</a>
        {% endfor %}
        <!-- Language switcher -->
        {% if page.lang == 'fr' %}
        <a href="{{ page.url | remove: '/fr' }}" class="px-2 mx-2">English</a>
        {% else %}
        <a href="/fr{{ page.url }}" class="px-2 mx-2">Français</a>
        {% endif %}
    </nav>

    <!-- Desktop -->
    <nav class="hidden md:grid grid-cols-7 items-center">
        <div class="col-span-3 flex justify-around">
            {% for item in site.data.navigation.header limit:3 %}
            <a href="{{ item.url }}" class="uppercase">{% if page.lang == 'fr' %}{{ item.title_fr }}{% else %}{{ item.title }}{% endif %}</a>
            {% endfor %}
        </div>
        <a class="font-posture lowercase text-[1.75rem] tracking-wide cursor-pointer leading-[1em]"
            href="/index.html">Brittany Woodard</a>
        <div class="col-span-3 flex justify-around items-center">
            {% for item in site.data.navigation.header limit:3 offset:3 %}
            <a href="{{ item.url }}" class="uppercase">{% if page.lang == 'fr' %}{{ item.title_fr }}{% else %}{{ item.title }}{% endif %}</a>
            {% endfor %}
            <!-- Language switcher -->
            {% if page.lang == 'fr' %}
            <a href="{{ page.url | remove: '/fr' }}" class="uppercase">English</a>
            {% else %}
            <a href="/fr{{ page.url }}" class="uppercase">Français</a>
            {% endif %}
        </div>
    </nav>
</header>